/**
 * Variables
 */

// Colors
$primary  : #fdbe11;
$secondary: #3f51b5;


/**
 * Modules
 */

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';


/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300;400;700&display=swap');

$font-family-headings: 'BenchNine', sans-serif;


/**
 * Partials
 */

@import 'css/headings';
@import 'css/header';
@import 'css/notfound';
